.container {
    display: inline-block;
    height: 24px;
    width: 24px;
    opacity: 0.5;
    transition: opacity 0.2s linear;
    animation-name: rotate;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hidden {
    opacity: 0;
}

.chart {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-dasharray: 60;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    
    to {
        transform: rotate(360deg);
    }
}