.App {
    position: relative;
}

.chessboard-container {
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tossed-game {
    width: calc(200vw + 2rem);
    gap: 2rem;
    transform: translateX(calc(-100vw - 2rem));
    transition: transform 0.5s ease-in-out;
}